@import 'https://cdn.jsdelivr.net/npm/@mdi/font@7.2.96/css/materialdesignicons.min.css';

html, body {
    position: relative;
    z-index: 1;
    background-color: #000;
    touch-action: manipulation;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}


.animate-scale {
    animation: scale-animation 1s infinite alternate;
}

@keyframes scale-animation {
    0% {
        transform: scale(1);
    }

    100% {
        transform: scale(1.05);
    }
}

/* Snackbar */
.vue3-snackbar-message {
    @apply  !rounded-2xl !bg-[#000101];
}

.vue3-snackbar-message.info {
    @apply border-2 !border-[#ffa860]
}

.vue3-snackbar-message.error {
    @apply border-2 !border-red-500
}

.vue3-snackbar-message.success {
    @apply border-2 !border-green-500
}